* {
    margin: 0px;
    padding: 0px;
}

.principal {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.aside {
    width: 15%;
}
.iconos_principal i{
    color: rgb(207, 205, 205);
    margin-right: 10px;
}

span{
    color: rgb(207, 205, 205);
}

.main {
    width: 100%;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.main div {
    text-align: center;
}

.persona_principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.usuario_principal {
    display: flex;
    /* flex-direction: row; POR defecto*/
    align-items: center;
}

.usuario_principal img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.chat {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.chat button {
    background-color: blueviolet;
    color: #fff;
    /*       top  right botton left*/
    padding: 10px 30px 10px 30px;
    margin-top: 30px;
}

.personas{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 10px;
    padding: 30px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.personas img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}